.wrapper{
    display:grid;
    grid-template-columns: 1.25fr 4fr;


}
.nested{
    display: grid;
    grid-template-columns: 2.5fr 4fr;

}
.wrapper > div{
    margin: 0.25em;
    padding: 1em;
}
.wrapper >div:nth-child(odd){
    background: darkslateblue;

}
.item{
    padding: 1rem;
    text-align: left;
    color: aliceblue;
}
.wrapper1 > div{
    background: #00acc1;
    padding: 1em;
}
.item1{background-color: white}
.item2{
    background-color:lightgrey;
    margin-left: -15px;
    padding: 12px;
}
div,.debug*{
    border: 1px solid #333333;
}
.menuwrapper{
    border: 1px solid #e7e7e7;
    overflow: auto;
    background: white;
}



