.wrapper{
    display:grid;
    grid-template-columns: 1.25fr 3fr;
}
.nested{
    display: grid;
    grid-template-columns: 1.5fr 4fr;
}
.wrapper > div{
    margin: 0.25em;
    padding: 1em;
}
.wrapper >div:nth-child(odd){
    background: darkslateblue;
}
.item{
    padding: 1rem;
    text-align: left;
    color: aliceblue;
}
.item1{background-color: white}
.item2{
    background-color:lightgrey;
    margin-left: -15px;
    padding: 12px;
}
.itemhead{
    background-color:lightgrey;
    margin-left: -15px;
    padding: 12px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.itemfoot{
    border-bottom-right-radius: 25px;
    background-color:lightgrey;
    margin-left: -15px;
    padding: 12px;
}
div,.debug*{
    border: 1px solid #333333;
}




